@import"reset";
@import"fonts";
@import"varible";



body {
  font-size: 14px;
  font-family: $main-font, sans-serif;
  color: $font-color;
}
.container {
  max-width: 940px;
  margin: 0 auto;
}
a {
  transition: all .5s ease;
  &:hover {
    text-decoration: underline;
  }
}
/*Header------------*/
.header {
  &-top {
    border-bottom: 1px solid #f4f4f4;
  }
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 50px;
  }
  .phone {
    font-weight: bold;
    color: $dark-font;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
    
  }
  &__phone {
    font-size: 14px;
    &--big {
      font-size: 18px;
    }
  }
  .menu {
    &__list {
      display: flex;
    }
    &__item {
      margin-right: 14px;
      margin-left: 14px;
      &:last-child {
        margin-right: 0;
      }
      &:first-child {
        margin-left: 0;
      }
    }
    &__link {
      display: block;
      font-size: 14px;
      font-weight: 400;
      color: $dark-font;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  &__button {
    padding: 10px 20px;
    font-size: 12px;
    background-color: #c91111;
    &:hover {
      background: #a70a0a;
    }
  }
  &-bottom {
    .container {
      min-height: 80px;
    }
  }
  &-right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    & .apps-link {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 38px;
      height: 38px;
      border: 1px solid #e42626;
      border-radius: 5px;
      transition: all .5s ease;
      &:hover {
        border: 3px solid #e42626;
      }
    }
    .google-play {
      margin-right: 10px;
      margin-left: 30px;
    }

  }
}
.button {
    font-weight: bold;
    color: #fff;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: all .6s ease;
  }

/*Hero------------*/
.hero {
  min-height: 610px;
  background: transparent url(../img/header/hero__bg.jpg) center no-repeat;
  &__title {
    display: block;
    max-width: 540px;
    padding-top: 100px;
    padding-bottom: 50px;
    font-size: 32px;
    font-weight: bold;
    color: #fff;
    span {
      font-size: 40px;
      text-transform: uppercase;
    }
  }
  &__subtitle {
    display: block;
    max-width: 390px;
    margin-bottom: 50px;
    font-size: 24px;
    font-weight: 300;
    color: #fff;
    span {
      font-weight: bold;
    }
  }
  &__button {
    padding: 25px 45px;
    font-size: 18px;
    background: rgb(228,38,38);
    background: linear-gradient(0deg, rgba(228,38,38,1) 0%, rgba(194,11,11,1) 100%);
    transition: all .5s ease;
    &:hover {
      background: linear-gradient(0deg, rgb(180, 26, 26) 0%, rgb(180, 3, 3) 100%);
    }
  }
}

/*Services--------*/
.services {
  padding-top: 100px;
  padding-bottom: 35px;
  background-color: #fff;
  &__title {
    text-align: center;
    margin-bottom: 80px;
  }
  &__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  &__item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 310px;
    padding: 0 30px;
    margin-bottom: 70px;
  }
  &__img {
    margin-right: 20px;
  }
  &__subtitle {
    font-size: 16px;
    font-weight: 400;
    color: $dark-font;
    cursor: pointer;
    &:hover {
      color: $link-hover;
    }
  }
}
.title {
  font-size: 30px;
  font-weight: bold;
  color: $dark-font;
}

/*About--------*/
.about {
  height: 600px;
  padding: 100px 0;
  background: transparent url(../img/about/about__bg.jpg) center no-repeat;
  &__text {
    margin-bottom: 30px;
    font-size: 16px;
    font-weight: 300;
    color: #fff;
    text-align: center;
  }
  &__title {
    margin-bottom: 60px;
    color: #fff;
    text-align: center;
  }
  .counter {
    margin-top: 80px;
    padding: 0 45px;
    &__inner {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
    }
    &__item {
      width: 190px;
      text-align: center;
    }
    &__amount {
      font-size: 48px;
      font-weight: bold;
      color: #fff;
      span {
        font-size: 32px;
        margin-right: 5px;
      }
    }
    &__text {
      font-size: 16px;
      color: #fff;
    }
  }
 
}

/*Scheme--------*/
.scheme {
  padding: 100px 0;
  background: #f5f5f5;
  &__title {
    margin-bottom: 80px;
    text-align: center;
  }
  &__inner {
    display: flex;
    justify-content: space-between;
  }
  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 310px;
  }
  &__subtitle {
    font-size: 16px;
    font-weight: 300;
    color: $dark-font;
    text-align: center;
    &--bold {
      font-weight: bold;
    }
  }
  &__img {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90px;
    margin-bottom: 60px;
  }
}



// Media Queries
@import"media";