/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
    animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
    animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

@font-face {
  font-family: 'Muller';
  src: url("/fonts/MullerRegular.woff2") format("woff2"), url("/fonts/MullerRegular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Muller';
  src: url("/fonts/MullerLight.woff2") format("woff2"), url("/fonts/MullerLight.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Muller';
  src: url("/fonts/MullerMedium.woff2") format("woff2"), url("/fonts/MullerMedium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Muller';
  src: url("/fonts/MullerBold.woff2") format("woff2"), url("/fonts/MullerBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

body {
  font-size: 14px;
  font-family: "Muller", sans-serif;
  color: #000;
}

.container {
  max-width: 940px;
  margin: 0 auto;
}

a {
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

a:hover {
  text-decoration: underline;
}

/*Header------------*/
.header-top {
  border-bottom: 1px solid #f4f4f4;
}

.header__inner {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  min-height: 50px;
}

.header .phone {
  font-weight: bold;
  color: #1c1c1c;
  text-decoration: none;
}

.header .phone:hover {
  text-decoration: underline;
}

.header__phone {
  font-size: 14px;
}

.header .menu__list {
  display: -webkit-box;
  display: flex;
}

.header .menu__item {
  margin-right: 14px;
  margin-left: 14px;
}

.header .menu__item:last-child {
  margin-right: 0;
}

.header .menu__item:first-child {
  margin-left: 0;
}

.header .menu__link {
  display: block;
  font-size: 14px;
  font-weight: 400;
  color: #1c1c1c;
  text-decoration: none;
}

.header .menu__link:hover {
  text-decoration: underline;
}

.header__button {
  padding: 10px 20px;
  font-size: 12px;
  background-color: #c91111;
}

.header .button {
  font-weight: bold;
  color: #fff;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  -webkit-transition: all .6s ease;
  transition: all .6s ease;
}

.header .button:hover {
  background: #a70a0a;
}

@media (max-width: 1200px) {
  body {
    background-color: #ccc;
  }
}
