/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
    animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
    animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

@font-face {
  font-family: 'Muller';
  src: url("/fonts/MullerRegular.woff2") format("woff2"), url("/fonts/MullerRegular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Muller';
  src: url("/fonts/MullerLight.woff2") format("woff2"), url("/fonts/MullerLight.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Muller';
  src: url("/fonts/MullerMedium.woff2") format("woff2"), url("/fonts/MullerMedium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Muller';
  src: url("/fonts/MullerBold.woff2") format("woff2"), url("/fonts/MullerBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

body {
  font-size: 14px;
  font-family: "Muller", sans-serif;
  color: #000;
}

.container {
  max-width: 940px;
  margin: 0 auto;
}

a {
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

a:hover {
  text-decoration: underline;
}

/*Header------------*/
.header-top {
  border-bottom: 1px solid #f4f4f4;
}

.header__inner {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  min-height: 50px;
}

.header .phone {
  font-weight: bold;
  color: #1c1c1c;
  text-decoration: none;
}

.header .phone:hover {
  text-decoration: underline;
}

.header__phone {
  font-size: 14px;
}

.header__phone--big {
  font-size: 18px;
}

.header .menu__list {
  display: -webkit-box;
  display: flex;
}

.header .menu__item {
  margin-right: 14px;
  margin-left: 14px;
}

.header .menu__item:last-child {
  margin-right: 0;
}

.header .menu__item:first-child {
  margin-left: 0;
}

.header .menu__link {
  display: block;
  font-size: 14px;
  font-weight: 400;
  color: #1c1c1c;
  text-decoration: none;
}

.header .menu__link:hover {
  text-decoration: underline;
}

.header__button {
  padding: 10px 20px;
  font-size: 12px;
  background-color: #c91111;
}

.header__button:hover {
  background: #a70a0a;
}

.header-bottom .container {
  min-height: 80px;
}

.header-right {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
}

.header-right .apps-link {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  width: 38px;
  height: 38px;
  border: 1px solid #e42626;
  border-radius: 5px;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.header-right .apps-link:hover {
  border: 3px solid #e42626;
}

.header-right .google-play {
  margin-right: 10px;
  margin-left: 30px;
}

.button {
  font-weight: bold;
  color: #fff;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  -webkit-transition: all .6s ease;
  transition: all .6s ease;
}

/*Hero------------*/
.hero {
  min-height: 610px;
  background: transparent url(../img/header/hero__bg.jpg) center no-repeat;
}

.hero__title {
  display: block;
  max-width: 540px;
  padding-top: 100px;
  padding-bottom: 50px;
  font-size: 32px;
  font-weight: bold;
  color: #fff;
}

.hero__title span {
  font-size: 40px;
  text-transform: uppercase;
}

.hero__subtitle {
  display: block;
  max-width: 390px;
  margin-bottom: 50px;
  font-size: 24px;
  font-weight: 300;
  color: #fff;
}

.hero__subtitle span {
  font-weight: bold;
}

.hero__button {
  padding: 25px 45px;
  font-size: 18px;
  background: #e42626;
  background: -webkit-linear-gradient(bottom, #e42626 0%, #c20b0b 100%);
  background: linear-gradient(0deg, #e42626 0%, #c20b0b 100%);
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.hero__button:hover {
  background: -webkit-linear-gradient(bottom, #b41a1a 0%, #b40303 100%);
  background: linear-gradient(0deg, #b41a1a 0%, #b40303 100%);
}

/*Services--------*/
.services {
  padding-top: 100px;
  padding-bottom: 35px;
  background-color: #fff;
}

.services__title {
  text-align: center;
  margin-bottom: 80px;
}

.services__inner {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  justify-content: space-between;
}

.services__item {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: start;
  justify-content: flex-start;
  width: 310px;
  padding: 0 30px;
  margin-bottom: 70px;
}

.services__img {
  margin-right: 20px;
}

.services__subtitle {
  font-size: 16px;
  font-weight: 400;
  color: #1c1c1c;
  cursor: pointer;
}

.services__subtitle:hover {
  color: #e61010;
}

.title {
  font-size: 30px;
  font-weight: bold;
  color: #1c1c1c;
}

/*About--------*/
.about {
  height: 600px;
  padding: 100px 0;
  background: transparent url(../img/about/about__bg.jpg) center no-repeat;
}

.about__text {
  margin-bottom: 30px;
  font-size: 16px;
  font-weight: 300;
  color: #fff;
  text-align: center;
}

.about__title {
  margin-bottom: 60px;
  color: #fff;
  text-align: center;
}

.about .counter {
  margin-top: 80px;
  padding: 0 45px;
}

.about .counter__inner {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  align-items: flex-start;
}

.about .counter__item {
  width: 190px;
  text-align: center;
}

.about .counter__amount {
  font-size: 48px;
  font-weight: bold;
  color: #fff;
}

.about .counter__amount span {
  font-size: 32px;
  margin-right: 5px;
}

.about .counter__text {
  font-size: 16px;
  color: #fff;
}

/*Scheme--------*/
.scheme {
  padding: 100px 0;
  background: #f5f5f5;
}

.scheme__title {
  margin-bottom: 80px;
  text-align: center;
}

.scheme__inner {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
}

.scheme__item {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  width: 310px;
}

.scheme__subtitle {
  font-size: 16px;
  font-weight: 300;
  color: #1c1c1c;
  text-align: center;
}

.scheme__subtitle--bold {
  font-weight: bold;
}

.scheme__img {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  height: 90px;
  margin-bottom: 60px;
}

/*Avantages--------*/
.advantages {
  padding: 100px 0;
}

.advantages__title {
  margin-bottom: 80px;
  text-align: center;
  line-height: 1.4;
}

.advantages__inner {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  align-items: flex-start;
}

.advantages__item--small {
  padding-top: 90px;
  text-align: right;
}

.advantages__item--medium {
  width: 210px;
  padding-top: 30px;
  text-align: center;
  border: 1px solid #e8e8e8;
}

.advantages__item--large {
  display: -webkit-box;
  display: flex;
  min-height: 361px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-pack: justify;
  justify-content: space-between;
}

.advantages__item--large ul {
  margin-left: 45px;
}

.advantages__item--large ul li {
  position: relative;
}

.advantages__item--large ul li:nth-child(1)::before {
  position: absolute;
  top: 50%;
  left: -45px;
  display: block;
  height: 25px;
  width: 23px;
  background: transparent url(../img/advantages/advantages__icon1.png) center no-repeat;
  content: "";
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.advantages__item--large ul li:nth-child(2)::before {
  position: absolute;
  top: 50%;
  left: -45px;
  display: block;
  height: 25px;
  width: 20px;
  background: transparent url(../img/advantages/advantages__icon2.png) center no-repeat;
  content: "";
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.advantages__item--large ul li:nth-child(3)::before {
  position: absolute;
  top: 50%;
  left: -45px;
  display: block;
  height: 25px;
  width: 22px;
  background: transparent url(../img/advantages/advantages__icon3.png) center no-repeat;
  content: "";
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.advantages__item--large ul li:nth-child(4)::before {
  position: absolute;
  top: 50%;
  left: -45px;
  display: block;
  height: 25px;
  width: 23px;
  background: transparent url(../img/advantages/advantages__icon4.png) center no-repeat;
  content: "";
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.advantages__item--green {
  background: #26b83a;
  border: 1px solid #26b83a;
}

.advantages__item--green ul li {
  color: #fff;
}

.advantages__item--green h3 {
  color: #fff;
}

.advantages__subtitle {
  margin-bottom: 35px;
}

.advantages__heading {
  margin-bottom: 35px;
  font-size: 13px;
  color: #000;
}

.advantages__button {
  width: 300px;
  padding: 25px 45px;
  font-size: 18px;
  background: #e42626;
  background: -webkit-linear-gradient(bottom, #e42626 0%, #c20b0b 100%);
  background: linear-gradient(0deg, #e42626 0%, #c20b0b 100%);
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.advantages__button:hover {
  background: -webkit-linear-gradient(bottom, #b41a1a 0%, #b40303 100%);
  background: linear-gradient(0deg, #b41a1a 0%, #b40303 100%);
}

/*Consultation--------*/
.consultation {
  min-height: 470px;
  padding: 100px 0;
  background: transparent url(../img/consultation/consultation__bg.jpg) center no-repeat;
  background-size: cover;
}

.consultation__inner {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
}

.consultation__text {
  max-width: 550px;
}

.consultation__title {
  margin-bottom: 70px;
  color: #fff;
}

.consultation__list {
  font-size: 18px;
  font-weight: 300;
  color: #fff;
  counter-reset: item;
}

.consultation__item {
  position: relative;
  margin-bottom: 30px;
  counter-increment: item;
}

.consultation__item span {
  text-decoration: underline;
}

.consultation__item:before {
  position: absolute;
  left: -35px;
  color: #e41e1e;
  text-align: center;
  content: counter(item) ".";
}

.consultation ol.consultation__list {
  margin-left: 35px;
}

.apps {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  padding-right: 50px;
}

.apps__link {
  margin-top: 15px;
  margin-bottom: 15px;
}
